#editor {
	--editor-bg: #323232;
}

#editor {
	background: var(--editor-bg);
	padding: 12px 30px;
	border-radius: 10px;
}

#editor>h1 {
	float: left;
	font-size: 1.5rem;
}

#editor-control {
	float: right;
}

#editor-control>button {
	padding: .5em .65em;
	background: transparent;
	z-index: 50;
}

#editor-switch {
	display: inline;
	position: relative;
	z-index: 0;
	overflow: hidden;
	padding: .5px;

	border-radius: 2em;
	background: #3399ff66;
	border: solid .5em #324353;
	/* #3399ff29 */
	color: transparent;

	transition: all 0.3s ease-in-out;
}

#editor-container {
	display: flex;
	flex-direction: row;
	clear: both;

	overflow: hidden;
	scroll-behavior: smooth;

	transition: height .4s;
}

#editor-container.maxcontent {
	height: max-content !important;
}

#editor-container.hideAll>.editor {
	height: 0;
	overflow: hidden;
}

.editor.focus {
	height: max-content !important;
}

.editor {
	width: 100%;
	height: max-content;
	flex-shrink: 0;

	display: flex;
	flex-direction: column;
}

.editor-element[name],
.editor-element.box {
	display: block;

	color: white;
	background: transparent;

	margin: 10px;
	padding: 16.5px 14px;

	box-sizing: border-box;
	outline: 0;
	border: solid 1px #4a4e52;
	border-radius: 4px;

	font-size: 1rem;
	font-family: Roboto, Helvetica, Arial, sans-serif;
}

.editor-element[name]:hover {
	border-color: #fff;
}

.editor-element[name]:focus {
	border-color: #90caf9;
}

label.editor-element {
	margin: 10px;
	float: left;
	user-select: none;
}

input.editor-element {
	line-height: 1.4375em;
	letter-spacing: 0.00938em;
}

textarea.editor-element {
	resize: vertical;
}

.markdown-body {
	background-color: transparent !important;
}

.markdown-body pre {
	padding: 0;
}

/* Advanced css */

label.editor-element:has(+ input.editor-element),
label.editor-element:has(+ textarea.editor-element),
label.editor-element:has(+ .editor-element.box) {
	background-color: var(--editor-bg);

	margin: 0;
	margin-left: 10px;
	padding: 5px;

	position: relative;
	top: calc(15px + 0.5rem);
	left: 10px;

	width: max-content;
}